.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
}

.address p,
.address a {
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__links-list {
  display: flex;
  column-gap: 32px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  min-height: 757px;
  background: url("../images/cover.jpg") no-repeat 51% / cover;
}

.cover__content {
  position: relative;
  z-index: 2;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 165px 50px 106px;
}

.cover .aligned-text {
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
}

.cover .aligned-text_center {
  align-self: center;
}

.cover .aligned-text_right {
  align-self: flex-end;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 50px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
}

.cover .bet-button {
  padding: 12px 33px 12px 31px;
  font-size: 22px;
  background: transparent;
  border: 1px solid currentColor; /* Круть, не знал */
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  padding-left: 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 27px 0 30px;
  list-style-type: none;
}

.lots__card-list-item {
  min-height: 596px;
  position: relative;
}

.lots .card-link,
.lots .card {
  height: 100%;
}

.lots .card-link {
  text-decoration: none;
}

.lots .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.lots .overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}

.lots .card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.lots .card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lots .card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots .card__title {
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.lots .card__text {
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  padding-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 359px 1fr;
  padding: 120px 24px 0;
}

.about__logo {
  padding: 35px 47px;
}

.about__logo-eclipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  background: #000;
  border-radius: 50%;
}

.about__logo-image {
  max-width: 148px;
}

.about__content {
  padding-top: 135px;
}

.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-top: 100px;
  font-size: 20px;
  line-height: 24px;
}

.about__text p:first-child {
  padding-right: 5px;
}

.footer {
  display: flex;
  padding: 180px 50px 82px;
}

.footer__address {
  margin-right: 162px;
  max-width: 264px;
}

.footer__menu {
  padding-top: 1px;
}

.footer__links-list {
  list-style-type: none;
  text-align: center;
}

.footer__link {
  font-size: 18px;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  column-gap: 48px;
  padding-top: 2px;
  margin-left: auto;
  list-style-type: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
  /* border: 1px solid #000; */ /* Сорян, не обратил внимания, что иконки уже с границами ) */
}
